nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    background-color: rgb(11, 11, 99);
    color: white;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin-bottom: 20px;
}

nav h1{
    margin-right: 300px;
}

nav a{
    color: white;
    text-decoration: none;
}

.body{
    padding: 30px;
}

table{
    border: 2px solid black; 
    padding: 0px;
    border-collapse: collapse;
}

table td{
    border: 2px solid black; 
    padding: 10px;
    margin: 0;
}
table thead tr{
    background-color: black;
    color: white;
    font-weight: 700;
}